fastapi
uvicorn[standard]
python-multipart
python-dotenv
click<8.2
google-genai
scenedetect[opencv]
imagehash
Pillow
pydantic
supabase
yt-dlp
openai-whisper
pyannote.audio>=4.0.1
demucs
shazamio
thefuzz
librosa
soundfile
scipy
scikit-learn
numpy
